<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- OpenGraph Metadata -->
    <meta property="og:title" content="In Loving Memory of Matthew Plomin" />
    <meta property="og:description"
        content="A tribute to Matthew Plomin, a visionary leader, devoted husband, loving father, and beloved member of the Cardano community." />
    <meta property="og:image" content="https://d1q40j6jx1d8h6.cloudfront.net/Obituaries/33797847/Thumbnail.webp" />
    <meta property="og:url" content="https://plomin.saib.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Matthew Plomin Tribute Page" />

    <!-- Twitter Card Metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="In Loving Memory of Matthew Plomin" />
    <meta name="twitter:description"
        content="A tribute to Matthew Plomin, a visionary leader, devoted husband, loving father, and beloved member of the Cardano community." />
    <meta name="twitter:image" content="https://d1q40j6jx1d8h6.cloudfront.net/Obituaries/33797847/Thumbnail.webp" />

    <link rel="icon" href="https://saib.dev/favicon-32x32.png?v=3963ea808c11d38162825ce072a415ad" type="image/png">
    <link rel="icon" href="https://saib.dev/favicon.svg?v=3963ea808c11d38162825ce072a415ad" type="image/svg+xml">

    <base href="/" />
    <link rel="stylesheet" href="@Assets["dist/app.bundle.css"]" />
    <link rel="stylesheet" href="@Assets["PlominFamily.styles.css"]" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="bg-gray-50 py-8">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
